<% if user_signed_in? %>
  <h2>Your application is <%= @application.progress %> % complete </h2>
  <% if @application.progress!=100 %>
    <h2>Please fill out your remaining application</h2>
    <table class='table table-striped table-bordered table-hover'>
      <thead class='thead-dark'>
        <tr>
          <th>STEP NAMES</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Step 2</td>
          <td><%= link_to 'Continue', application_path(:step2, application: @application) , class: 'btn btn-outline-danger btn-sm' %></td>
        </tr>
        <tr>
          <td>Step 3</td>
          <td><%= link_to 'Continue', application_path(:step3, application: @application) , class: 'btn btn-outline-danger btn-sm' %></td>
        </tr>
        <tr>
          <td>Step 4</td>
          <td><%= link_to 'Continue', application_path(:step4, application: @application) , class: 'btn btn-outline-danger btn-sm' %></td>
        </tr>
        <tr>
          <td>Step 5</td>
          <td><%= link_to 'Continue', application_path(:step5, application: @application) , class: 'btn btn-outline-danger btn-sm' %></td>
        </tr>
        <tr>
          <td>Step 6</td>
          <td><%= link_to 'Continue', application_path(:step6, application: @application) , class: 'btn btn-outline-danger btn-sm' %></td>
        </tr>
        <tr>
          <td>Step 7</td>
          <td><%= link_to 'Continue', application_path(:step7, application: @application) , class: 'btn btn-outline-danger btn-sm' %></td>
        </tr>
        <tr>
          <td>Step 8</td>
          <td><%= link_to 'Continue', application_path(:step8, application: @application) , class: 'btn btn-outline-danger btn-sm' %></td>
        </tr>
        <tr>
          <td>Step 9</td>
          <td><%= link_to 'Continue', application_path(:step9, application: @application) , class: 'btn btn-outline-danger btn-sm' %></td>
        </tr>
        <tr>
          <td>Step 10</td>
          <td><%= link_to 'Continue', application_path(:step10, application: @application) , class: 'btn btn-outline-danger btn-sm' %></td>
        </tr>
        <tr>
          <td>Step 11</td>
          <td><%= link_to 'Continue', application_path(:step11, application: @application) , class: 'btn btn-outline-danger btn-sm' %></td>
        </tr>
      </tbody>
    </table>

    <%= link_to 'Select Camps', camps_path %><br/>

  <% else %>
    <td><%= link_to 'Show Application', application_path(:application_view, application: @application) , class: 'btn btn-outline-danger btn-sm' %></td>
    <%= link_to 'Select Camps', camps_path %><br/>
  <% end %>
<% end %>
