<%= render 'progress_bar', application: @application %>
<%= form_for @application, method: :put, url: wizard_path do |f| %>
  <%= hidden_field_tag :application_id, @application.id %>

  <p>
    <strong>Name:</strong>
    <%= current_user.first_name %><br/>

    <strong>Last Name:</strong>
    <%= current_user.last_name %><br/>

    <strong>Country:</strong>
    <%= current_user.country %><br/>

    <strong>Email:</strong>
    <%= current_user.email %><br/>

    <strong>Phone Number:</strong>
    <%= current_user.phone %><br/>

    <% if current_user.image.attached? %>
      <%= image_tag current_user.image, class: "image" %>
    <% end %>

    <%= f.label :gender, "Gender" %>
    <%= f.text_field :gender %>

    <div class="actions">
      <%= f.submit "Continue" %>
      <%= link_to "skip this step", next_wizard_path %>
      <%= link_to 'DashBoard', applications_path %>
    </div>
  </p>
<% end %>
