<%= render 'progress_bar', application: @application %>
<%= form_for @application, method: :put, url: wizard_path do |f| %>
  <%= hidden_field_tag :application_id, @application.id %>
  <%= f.label :medicine, "Medicine" %>
  <%= f.text_field :medicine %>
  <div class="actions">
    <% if @application.progress == 91 %>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Confirm
      </button>
    <% end %>
    <%= link_to "skip this step", next_wizard_path %>
    <%= link_to "previous this step", previous_wizard_path %>
  </div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to submit? You cannot edit the application after submission.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <%= f.submit "Confirm", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

 <% end %>

<p><%= link_to "Back to List", applications_path %></p>
