<p>
  <strong>Name:</strong>
  <%= @application.user.first_name %><br/>

  <strong>Last Name:</strong>
  <%= @application.user.last_name %><br/>

  <strong>Country:</strong>
  <%= @application.user.country %><br/>

  <strong>Email:</strong>
  <%= @application.user.email %><br/>

  <strong>Phone Number:</strong>
  <%= @application.user.phone %><br/>

  <% if @application.user.image.attached? %>
    <%= image_tag @application.user.image, class: "image" %>
  <% end %>

  <strong>Gender:</strong>
  <%= @application.gender %><br/>

  <strong>Date of birth:</strong>
  <%= @application.dob %><br/>

  <strong>Occupation:</strong>
  <%= @application.occupation %><br/>

  <strong>Nationality:</strong>
  <%= @application.nationality %><br/>

  <strong>Bloodgroup:</strong>
  <%= @application.blood_group %><br/>

  <strong>Weight:</strong>
  <%= @application.weight %><br/>

  <strong>Height:</strong>
  <%= @application.height %><br/>

  <strong>Allergy:</strong>
  <%= @application.allergy %><br/>

  <strong>Medicine:</strong>
  <%= @application.medicine %><br/>

  <strong>Martial Status:</strong>
  <%= @application.martial_status %><br/>
</p>

<%= link_to 'Back', admin_applications_path %>
