<p>
  <strong>Name:</strong>
  <%= @registration.user.first_name %><br/>

  <strong>Last Name:</strong>
  <%= @registration.user.last_name %><br/>

  <strong>Country:</strong>
  <%= @registration.user.country %><br/>

  <strong>Email:</strong>
  <%= @registration.user.email %><br/>

  <strong>Phone Number:</strong>
  <%= @registration.user.phone %><br/>

  <% if @registration.user.image.attached? %>
    <%= image_tag @registration.user.image, class: "image" %>
  <% end %>

  <strong>Gender:</strong>
  <%= @registration.gender %><br/>

  <strong>Date of birth:</strong>
  <%= @registration.dob %><br/>

  <strong>Occupation:</strong>
  <%= @registration.occupation %><br/>

  <strong>Nationality:</strong>
  <%= @registration.nationality %><br/>

  <strong>Bloodgroup:</strong>
  <%= @registration.blood_group %><br/>

  <strong>Weight:</strong>
  <%= @registration.weight %><br/>

  <strong>Height:</strong>
  <%= @registration.height %><br/>

  <strong>Allergy:</strong>
  <%= @registration.allergy %><br/>

  <strong>Medicine:</strong>
  <%= @registration.medicine %><br/>

  <strong>Bloodgroup:</strong>
  <%= @registration.blood_group %><br/>

  <strong>Martial Status:</strong>
  <%= @registration.martial_status %><br/>
</p>

<%= link_to 'Back', admin_registrations_path %>
