<% if user_signed_in? %>
  <%= link_to 'ShowProfile', current_user %>
  <%= link_to 'Invite User', new_user_invitation_path %>
  <%= form_with(url: admin_users_path, method: :get) do |f| %>
    <%= f.text_field :query %>
    <%= f.submit 'Search'%>
  <% end %>

  <%= link_to 'Undo Search', admin_users_path, class: 'mb-3' %>

  <table class='table table-striped table-bordered table-hover'>
  <thead class='thead-dark'>
    <tr>
      <th><%= sortable 'first_name' %></th>
      <th><%= sortable 'email' %></th>
      <th><%= sortable 'phone' %></th>
      <th><%= sortable 'country' %></th>
      <th>Role</th>
      <th>Delete</th>
      <th>Show</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.country %></td>
        <td><%= user.role %></td>
        <% if !user.admin? %>
          <td><%= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></td>
          <td><%= link_to 'Show', admin_user_path(user) , class: 'btn btn-outline-danger btn-sm' %></td>
          <td><%= link_to 'Edit', edit_admin_user_path(user) , class: 'btn btn-outline-danger btn-sm' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  </table>

  <%= link_to 'Download CSV', admin_users_path(@users, format: :csv), class: 'mb-3' %><br/>

  <%= pagy_bootstrap_nav(@pagy).html_safe %>
<% end %>
