<p id='notice'><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @camp.name %><br/>

  <strong>Type:</strong>
  <%= @camp.camp_type %><br/>

  <strong>Status:</strong>
  <%= @camp.status %><br/>

  <strong>Registration date:</strong>
  <%= @camp.registartion_date %><br/>

  <strong>Locations chosen:</strong>

  <ul>
   <% @camp.locations.each do |c|%>
     <li> <%= c.name%> </li>
   <%end%>
  </ul>
</p>

<%= link_to 'Edit', edit_admin_camp_path(@camp) %> |
<%= link_to 'Back', admin_camps_path %>
