<!DOCTYPE html>
<html>
  <head>
    <title>CampEncounters</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Global Encounters</span>
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
      <div class="links">
        <%= link_to 'Register', new_user_registration_path %>
        <%= link_to 'Sign in', new_user_session_path %>
      </div>
    <% end %>
  </nav>




  <body>
  <section class="h-100 h-custom" style="background-color: #3cb371;">
  <div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-lg-8 col-xl-6">
  <div class="card rounded-3">
  <div class="card-body p-4 p-md-5">
  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Let's Get Started</h3>
    <%= yield %>
  </body>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>


</html>
